<%- include("../partials/header") %>
<form action="/destinations/<%= editedDestination._id %>?_method=PUT" method="POST">
<label>Name:
    <input type="text" name="name" value="<%= editedDestination.name %>" required>
</label>
<label>Favorite Spots
    <input type="text" name="favoriteSpots" value="<%= editedDestination.favoriteSpots %>"  required > 
</label>
<label>Budget
    <input type="number" name="budget" min="1000" max="1000000" value="<%= editedDestination.budget %>" required >
</label>
<button type="submit">Edit Destination</button>
</form>
<%- include("../partials/footer") %>