<%- include('../partials/header') %>
<div class="container"> 
    <div class="row"> 
        <% allDestinations.forEach(d => {  %>
            <div class="col-md-4 mb-4"> 
                <section class="card shadow"> 
                    <div class="card-img-top test bg-dark">
                        <img src="<%= d.image %>" alt="<%= d.name %> Image">
                    </div>
                    <div class="card-body  bg-light">
                        <h3 class="card-title text-center"><%= d.name%></a></h3> 
                        <p class="card-text text-center"><span class="card-info-text">Favorite Spots: </span> <%= d.favoriteSpots%></p> 
                        <p class="card-text text-center">Expect to spend $<%= d.budget %></p> 
                        <div class="d-flex justify-content-between"> 
                            <form action="/destinations/<%= d._id %>?_method=DELETE" class="delete-form" method="POST">
                                <button class="btn delete-button" type="submit"><i class="fa-regular fa-circle-xmark"></i></button>
                            </form>
                            <a href="/destinations/<%= d._id %>" class="more-button">More</a>
                        </div>
                    </div>
                </section>
            </div>
        <% }) %>
    </div>
</div>
<%- include('../partials/footer') %>

