<%- include('../partials/header') %>
<div class="container"> 
    <div class="row"> 
        <% allDestinations.forEach(d => {  %>
            <div class="col-md-4 mb-4"> 
                <section class="card shadow"> 
                    <div class="card-img-top">
                        <img src="<%= d.image %>" alt="<%= d.name %> Image">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-center"> <a href="/destinations/<%= d._id %>"><%= d.name%></a></h3> 
                        <p class="card-text text-center">Favorite Spots <%= d.favoriteSpots%></p> 
                        <p class="card-text text-center">Expect to spend $<%= d.budget %></p> 
                        <div class="text-center"> 
                            <form action="/destinations/<%= d._id %>?_method=DELETE" class="delete-form d-inline-block" method="POST">
                                <button class="btn btn-primary" type="submit">X</button>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        <% }) %>
    </div>
</div>
<%- include('../partials/footer') %>

