<%- include('../partials/header') %>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Favorite Spots</th>
            <th>Budget</th>
            <th>Delete</th>
        </tr>      
    </thead>
    <% allDestinations.forEach(d => {  %>
        <tr>
            <td>
                <a href="/destinations/<%= d._id %>"><%= d.name%></a>
            </td>
            <td><%= d.favoriteSpots%></td>
            <td>Expect to spend $<%= d.budget %></td>
            <td><form action="/destinations/<%= d._id %>?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">Delete Destination</button>
              </form>
            </td>
            
        </tr>
   <% }) %>
</table>
<%- include('../partials/footer') %>