<%- include("../partials/header") %>
<section>
    <div>Name: </div>
    <div><%=foundDestination.name %> </div>
    <div>Favorite spots: </div>
    <div><%=foundDestination.favoriteSpots %></div>
    <div> Recommended Budget: </div>
    <div><%=foundDestination.budget %> </div>
</section>
<%- include("../partials/footer") %>